@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nft {
  width: 300px;
}

.eth {
  display: flex;
  justify-content: space-between;
}

.creation {
  display: flex;
}

.avatar {
  width: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}